# Ignore everything in .config
*

# Keep the configurations I care about
!.gitignore

!fish/
!fish/**

!fuzzel/
!fuzzel/**

!helix/
!helix/**

!hypr/
!hypr/**

!kitty/
!kitty/**

!nvim/
!nvim/**

!waybar/
!waybar/**

!sway/
!sway/**

!mpv/
!mpv/**

!btop/
!btop/**

!bluetuith/
!bluetuith/**

!easyeffects/
!easyeffects/**
